        {%load static%}
        <!-- Contact Section-->
        <section class="page-section" id="contact">
            <div class="container">
                <!-- Contact Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">{{section.heading}}</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Contact Section Form-->
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.-->
                        <form id="contactForm" name="sentMessage" novalidate="novalidate">
                            {%for item in section.form%}
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>{{item.label}}</label>
                                    {%if item.input.type %}
                                    <input class="form-control" id="{{item.input.id}}" type="{{item.input.type}}" placeholder="{{item.input.placeholder}}" required="required" data-validation-required-message="{{item.input.message}}" />
                                    {%endif%}
                                    {%if item.input.rows%}
                                    <textarea class="form-control" id="{{item.input.id}}" rows="{{item.input.rows}}" placeholder="{{item.input.placeholder}}" required="required" data-validation-required-message="{{item.input.message}}"></textarea>
                                    {%endif%}
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            {%endfor%}
                           
                            <br />
                            <div id="success"></div>
                            <div class="form-group"><button class="{{section.form_button.class}}" id="sendMessageButton" type="{{section.form_button.}}">{{section.form_button.text}}</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- END Contact Section-->
